.shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;

  .shop__name {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-wrap: break-word;
    overflow: hidden;
    margin-right: 8px;
  }

  .week {
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;

    .day {
      margin-left: 2px;
      margin-right: 2px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.add-shop {
  display: flex;
  input {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 1px;
  }
}
